<input type="text" ng-model="vm.message">
<div class="alert" 
     ng-class="{'alert-info':vm.message === 'info',
               'alert-danger':vm.message === 'danger',
               'alert-success': vm.message === 'success',
               'my-style': vm.message == 'test'}">
{{vm.message}}    
</div>

<div>Message: {{vm.message}}</div>

<a ng-href="{{vm.message}}">
    Click Me!
</a>
<br>
<a ui-sref="main" ng-if="vm.show">
    Go Home Page
</a>
<img ng-src="{{vm.message}}">

<div>
    <a href="" ng-click="vm.showMenu()">
        Show Menu: {{vm.show}}
    </a>
    <ul ng-show="vm.show">
       <li>1</li>
       <li>2</li>
       <li>3</li>
    </ul>
</div>

<div style="border: solid red 1px;">&nbsp;&nbsp;&nbsp;&nbsp;2016-10-05</div>
<div>
    <p>{{vm.message}}</p>
    <p ng-bind="vm.message"></p>
</div>

<my-input></my-input>
<div my-input=""></div>
<div class="my-input"></div>

<!--Filtros:-->
<p> Today's date: {{vm.timeNow | date:'dd-MM-yyyy' }} </p>

<pre> {{vm.myObject | json}} </pre>

<input type="number" ng-model="vm.price"/>
<pre> Price in $: {{vm.price | currency}} </pre>
<pre> Price in Bs: {{vm.price | currency:'Bs.'}} </pre>
<pre> Price in Bs (0 decimals): {{vm.price | currency:'Bs.':0}} </pre>

<ul>
    <li ng-repeat="user in vm.users | limitTo:1">
        {{user.name}} - Repeated Text
    </li>
</ul>
<ul>
    <li ng-repeat="user in vm.users | orderBy:'name'">
        {{user.name}} - Repeated Text
    </li>
</ul>

<!--Filtro personalizado:-->

<pre> {{vm.cadena | myFilter}}</pre>

<div>
    <div>Mayusculas (M):</div>
    {{vm.message | myFilter: 'M'}}
    <div>Minusculas (m):</div>
    {{vm.message | myFilter: 'm'}}
</div>

<div>
    Filter from the controller: {{vm.filtered}}
</div>
<div>
    Filtered date from the controller: {{vm.filteredDate}}
</div>




